**/dictionary/
**/dictionary/*
.vscode/
*.code-workspace

# Ignore all VS Code folders and files
.vscode/
*.code-workspace

# Ignore all IntelliJ IDEA folders and files
.idea/
*.iml

# Ignore all compiled Java files and archives
*.class
*.jar
*.war
*.ear